set_state:
  target:
    device:
      integration: dantherm
  fields:
    operation_selection:
      selector:
        select:
          translation_key: operations
          options:
            - "standby"
            - "automatic"
            - "manual"
            - "week_program"
    fan_level_selection:
      selector:
        select:
          translation_key: fan_levels
          options:
            - "0"
            - "1"
            - "2"
            - "3"
            - "4"
    away_mode:
      example: true
      selector:
        boolean:
    summer_mode:
      example: true
      selector:
        boolean:
    fireplace_mode:
      example: true
      selector:
        boolean:
    manual_bypass_mode:
      example: true
      selector:
        boolean:
set_configuration:
  target:
    device:
      integration: dantherm
  fields:
    filter_lifetime:
      example: "180"
      selector:
        text:
          type: text
          multiline: false
    night_mode:
      example: true
      selector:
        boolean:
    night_mode_start_time:
      example: "22:30"
      selector:
        text:
          type: text
          multiline: false
    night_mode_end_time:
      example: "06:00"
      selector:
        text:
          type: text
          multiline: false
    week_program_selection:
      selector:
        select:
          translation_key: week_program_selections
          options:
            - "0"
            - "1"
            - "2"
            - "3"
            - "4"
            - "5"
            - "6"
            - "7"
            - "8"
            - "9"
            - "10"
set_configuration_2:
  target:
    device:
      integration: dantherm
  fields:
    bypass_minimum_temperature:
      example: 15
      selector:
        number:
          min: 12
          max: 15
          step: 0.1
          unit_of_measurement: "째C"
    bypass_maximum_temperature:
      example: 24
      selector:
        number:
          min: 21
          max: 27
          step: 0.1
          unit_of_measurement: "째C"
    humidity_setpoint:
      example: 50
      selector:
        number:
          min: 35
          max: 65
          step: 1
          unit_of_measurement: "%"
    manual_bypass_duration:
      example: 360
      selector:
        number:
          min: 60
          max: 480
          step: 15
          unit_of_measurement: "min"
    disable_bypass:
      example: true
      selector:
        boolean:
set_configuration_3:
  target:
    device:
      integration: dantherm
  fields:
    bypass_minimum_temperature_summer:
      example: 15
      selector:
        number:
          min: 12
          max: 17
          step: 0.1
          unit_of_measurement: "째C"
    bypass_maximum_temperature_summer:
      example: 24
      selector:
        number:
          min: 21
          max: 30
          step: 0.1
          unit_of_measurement: "째C"
    humidity_setpoint_summer:
      example: 50
      selector:
        number:
          min: 35
          max: 65
          step: 1
          unit_of_measurement: "%"
filter_reset:
  target:
    device:
      integration: dantherm
alarm_reset:
  target:
    device:
      integration: dantherm
clear_adaptive_event_stack:
  target:
    device:
      integration: dantherm
